<div class="
    position-absolute
    start-50
    top-50
    translate-middle
    login-page
    bg-white
  ">
  <form class="reg-form shadow">
    <h2 class="page-title bg-danger p-2 text-center text-white">
      ToDo Information
    </h2>
    <div class="controls-containers place-margin place-padding">

      <label for="exampleInputEmail1" class="form-label">ToDoMessage</label>
      <input type="text" class="form-control" name="email" [(ngModel)]="todoDetails.toDoMessage" />

      <button type="submit" class="btn btn-danger mb-2" (click)="updateToDo();">
        Save
      </button>

      <button type="submit" class="btn btn-outline-danger" (click)="deleteToDo();">
        Delete
      </button>
    </div>
  </form>
</div>
